body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#thanks{
    font-size:200px;
    color:black;
}
#table{
    /*width:100%;*/
    border-top-left-radius:5px;
    border-top-right-radius:5px;
    background-color:white;
}
#table_header{
    width:auto;
    background-color:#1ab188;
    padding:10px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
#table_data{
    padding-left:10px;
}
#div1{
    padding:0px;
}
#button1{
    margin-left:20px;
}
#hide{

}
#marginalize{
    margin:10px;
}
    #page{
        min-width: 64px;
        padding:0px;
        padding-top:0px;
        margin:20px;
        margin-left:0px;
        /*background-color:#353535;*/
        /*box-shadow: 7px 7px 2px #100f0f;*/
        /*border-top-left-radius:5px;
        border-top-right-radius:5px;*/
    }
    #card{
        min-width: 64px;
        padding:10px;
        background-color:white;
        /*box-shadow: 7px 7px 2px #100f0f;*/
        border-radius:5px;
    }
    #text{
        
        font-size:1vmax;
        
    }
    #text1{
       
        font-size:1vmax;
        padding-left:10px;
        
    }
    #text1s{
       
        font-size:1vmax;
        padding-left:10px;
        border-top-left-radius:5px;
    }

        #text2{
       
        font-size:1vmax;
        border-top-right-radius:5px;
        
    }


@import url('https://fonts.googleapis.com/css?family=Ubuntu');
body{
  width:100%;
  height:100%;
  background-color:#343436;
}
.title{
    border-top-left-radius:15px;
    border-top-right-radius:15px;
    background-color:#A91352;
    width:400px;
    margin:auto;
    height:50px;
    margin-bottom:-25px;
    padding-top:0px;
}
.title-name{
    margin:auto;
    width:50%;
}
.title-name-text{
  font-size:16px;
  font-family: 'Ubuntu', sans-serif;
  font-weight:bold;
  color:white;
  text-align:center;
  margin:auto;
}
.card{
  margin:auto;
  margin-top:0px;
  background-color:#1d1f20;
  min-width:350px;
  width:75%;
  height:600px;
  border-radius:15px;
  box-shadow: 7px 7px 4px black;

}
.head{
  display:table;
  width:100%;
  height:50px;
  background-color:#A91352;
  border-radius:inherit;
  border-bottom-left-radius:2px;
  border-bottom-right-radius:2px;
  box-shadow:0px 5px 0px black;
  position:relative;
  padding-top:10px;
  padding-left:0px;
}
.contain{
  overflow-y: auto;
  overflow-x:hidden;
  height:86%;
  padding:10px;
  padding-right:0px;
}
    .contain::-webkit-scrollbar{
        width:7px;
    }
    .contain::-webkit-scrollbar-track{
        background-color:#1d1f20;
    }
    .contain::-webkit-scrollbar-thumb{
           background-color:#A91352;
           border-radius: 2px;
    }
    #graph::-webkit-scrollbar-corner{
        background-color:#1d1f20;
    }
.row{
  display:table;
  width:100%;
  padding-bottom:10px;
}
.name{
  display:table-cell;
  margin:auto;
  width:40%;
}
.name-head{
  display:table-cell;
  margin:auto;
  width:45%;
}
.time{
  margin:auto;
  display:table-cell;
  width:30%;
  padding-left:25px;
}
.time-head{
  margin:auto;
  display:table-cell;
  width:20%;
}
.status{
  display:table-cell;
  margin:auto;
  width:1%;
  padding-left:15px;
}
.status-head{
  display:table-cell;
  margin:auto;
  width:20%;
}
.text{
  font-size:16px;
  font-family: 'Ubuntu', sans-serif;
  color:white;
  text-align:center;
}
.text-name{
  font-size:16px;
  font-family: 'Ubuntu', sans-serif;
  color:white;
}
.text-bold{
  font-size:16px;
  font-family: 'Ubuntu', sans-serif;
  font-weight:bold;
  color:white;
  text-align:center;
}
.text-bold-name{
  font-size:16px;
  font-family: 'Ubuntu', sans-serif;
  font-weight:bold;
  color:white;
  padding-left:15px;
}